@import '../../../settings/Settings';

.EditorTopNavigationBar {
  align-self: stretch;
  height: $editorTopNavigationBarHeight;
  border-bottom: solid 1px $darkThemeFirstColor;
  background-color: $darkThemeSecondColor;
  user-select: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  padding: 0 5px;

  &.with-context {
    background-color: $darkThemeForthColor;
  }

  .ButtonWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    &:not(:last-child) {
      padding-right: 5px;
      margin-right: 5px;
      border-right: solid 1px $darkThemeFirstColor;
    }
  }
  .ButtonWrapper:last-of-type {
    margin-left: auto;
  }
  .Association {
    font-weight: 700;
    margin-right: 10px;
    user-select: none;
    color: white;
  }
  .ImageButton {
    transition: transform 0.3s;
    margin: 0 2px;

    img {
      filter: brightness(0) invert(1);
    }

    &:hover {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &.active {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  .TextButton {
      padding: 15px 10px;
      margin-left: 5px;
      box-shadow: $secondaryColor 0 0 0 2px inset; // fallback if new css variables are not supported by browser
      box-shadow: var(--leading-color) 0 0 0 2px inset;
      background-color: $secondaryColor; // fallback if new css variables are not supported by browser
      background-color: var(--leading-color);
      color: white; // fallback if new css variables are not supported by browser
      color: var(--button-text-color);

      &:hover {
        background-color: transparent;
        color: $secondaryColor; // fallback if new css variables are not supported by browser
        color: var(--leading-color);
      }

      &.disabled {
        box-shadow: $darkThemeThirdColor 0 0 0 2px inset;
        background-color: $darkThemeThirdColor;
        cursor: default;
        opacity: 0.6;

        &:hover {
          box-shadow: $darkThemeThirdColor 0 0 0 2px inset;
          background-color: $darkThemeThirdColor;
          color: white;
        }
      }
  }

}
